# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.metadata/.plugins/org.eclipse.cdt.core
/.metadata/.plugins/org.eclipse.cdt.ui
/.metadata/.plugins/org.eclipse.core.resources/.history/0
/.metadata/.plugins/org.eclipse.core.resources/.history/21
/.metadata/.plugins/org.eclipse.core.resources/.history/23
/.metadata/.plugins/org.eclipse.core.resources/.history/24
/.metadata/.plugins/org.eclipse.core.resources/.history/30
/.metadata/.plugins/org.eclipse.core.resources/.history/34
/.metadata/.plugins/org.eclipse.core.resources/.history/37
/.metadata/.plugins/org.eclipse.core.resources/.history/40
/.metadata/.plugins/org.eclipse.core.resources/.history/41
/.metadata/.plugins/org.eclipse.core.resources/.history/44
/.metadata/.plugins/org.eclipse.core.resources/.history/48
/.metadata/.plugins/org.eclipse.core.resources/.history/52
/.metadata/.plugins/org.eclipse.core.resources/.history/53
/.metadata/.plugins/org.eclipse.core.resources/.history/62
/.metadata/.plugins/org.eclipse.core.resources/.history/6c
/.metadata/.plugins/org.eclipse.core.resources/.history/6d
/.metadata/.plugins/org.eclipse.core.resources/.history/74
